twitter:
  consumer_key:
  consumer_secret:
  users:
    -
        screen_name: user1
        access_token:
        access_secret:
        notification_words:
          - word1
          - word\d+
    -
        screen_name: user2
        access_token:
        access_secret:
imkayac:
  username:
  secret:
github:
  username:
  access_token:
